name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
        
    - name: install assemblyline
      # run: wget https://github.com/0xADE1A1DE/AssemblyLine/releases/download/v1.3.2/assemblyline-1.3.2.tar.gz && tar -xvf assemblyline-1.3.2.tar.gz && cd assemblyline-1.3.2 && ./autogen.sh && ./configure --prefix=/usr && make && sudo make install
      run: wget https://github.com/0xADE1A1DE/AssemblyLine/releases/download/v1.3.2/assemblyline-1.3.2.tar.gz && tar -xvf assemblyline-1.3.2.tar.gz && cd assemblyline-1.3.2 && ./configure --prefix=/usr && make && sudo make install

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: CTest
      working-directory: ${{github.workspace}}/build
      run: ./main --test
    
    - name: PythonTest
      run: python MeasureSuiteCommandLine.py --test

